body{
    margin: 0;
    background-color: darkslategrey
}
#conatiner{
    margin: 5px;
    padding: 5px;
}
#navigation{
    width: 100%;
    height: 65px;
    background-color: transparent;
    border-bottom: 7px solid white;
}

#logo-wrapper{
    width:30%;
    margin-left: 5%;
    float:left;
}

#nav-wrapper{
    width: 65%;
    float: right;
    margin-top: 17px;
}

#nav-wrapper ul{
    text-align: right;
    margin-top: 5px;
}

#nav-wrapper li{
    list-style-type: none;
    display:inline;
    padding: 10px;
    margin-left: 20px;
}

#nav-wrapper li:hover {
    background-color: mediumseagreen;
    border-radius: 3px;
    cursor:pointer;
}

#nav-wrapper a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: Dosis;
    font-weight: bold;
}
#nav-wrapper a:hover{
    color: white;
}

.clearfix{
    display: block;
    content: "";
    clear: both;
}

@keyframes slider {
    0%{
        left:0;
    }
    30%{
        left:0%;
    }
    35%{
        left:-100%;
    }
    65%{
        left:-100%;
    }
    70%{
        left:-200%;
    }
    100%{
        left:-200%;
    }
}

#slider{
    overflow:hidden;
    margin-top: 5px;
    position: relative;
}

#slider figure img{
    width:33.3%;
    float: left;
}

#slider figure {
    position: relative;
    width: 300.3%;
    margin:0;
    left:0;
    text-align: left;
    font-size: 0;
    animation:10s slider infinite;

}
#slider-info {
    box-sizing: border-box;
    width: 70%;
    height: 61%;
    text-align: center;
    background-color: rgba(130, 130, 130, 0.5);
    z-index:1;
    border:5px solid black;
    position: absolute;
    top:20%;
    left: 15%;
    font-family: Dosis;
    font-size: 30px;
    border-radius: 5px;
    padding-top: 30px;
}

#services-header {
    font-size: 40px;
    text-align: center;
    margin: 10px;
    font-family: Ubuntu;
    color:ghostwhite;
}

#services-wrapper{
    width: 100%;
    height: 700px;
}

.service{
    width: 29.3%;
    height: 300px;
    margin:1%;
    padding: 1%;
    float: left;
    background-color: dimgray;
    display: inline;
}

.service:nth-child(4){
    margin-left: 16.5%;
}

.service-image-wrapper{
    width: 100%;
    height: 240px;
    background-color: mediumseagreen;
    border-radius:3px;
}
.service-image-wrapper .header{
    color: whitesmoke;
    text-align: center;
    font-family: Poiret One;
    font-size: 30px;
    font-weight: bold;
    
}

.service-image-wrapper .image{
    margin-top:50px;
    text-align: center;
}
.service-image-wrapper .last-image{
    text-align: center;
}
.service-image-wrapper .image img, .service-image-wrapper .last-image img {
    width: 150px;
    height: 150px;
}
.service .service-info{
    width: 100%;
    height:55px;
    margin-top: 5px;
    background-color: darkgoldenrod;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
}
.service .service-info p{
    color: white;
    font-family: Dosis;
    margin-top:15px;
    font-size: 20px;
}

#timing{
    margin: 10px;
    text-align: center;
    height: 100px;
    padding-top: 50px;
}
#timing p {
    font-size: 40px;
    font-family: Ubuntu;
    color: whitesmoke;
    display: inline;
}
#timing i {
    color: whitesmoke;
    font-size: 40px;
}

#info-header {
    font-size: 40px;
    text-align: center;
    margin:100px 10px 10px 10px;
    font-family: Poiret One;
    color:lightyellow;
}

.underline{
    border-bottom: 1px solid whitesmoke;
}

#info{
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    word-spacing: 10px;
}

#info i {
    font-size: 40px;
    color:whitesmoke;
}
#info p {
    color: whitesmoke;
    font-family: Dosis;
    font-size: 40px;
    display: inline;
}

#footer{
    height:70px;
    background:dimgray;
    margin: 10px 10px 0 10px;
    padding: 10px;
    position: relative;
}

#footer p{
    font-family: Ubuntu;
    display: inline;
    color: white;
}

#footer i{
    color:whitesmoke;
}

#blogs {
    position:absolute;
    top:10px;
    right:6px;
}

#blogs img{
    width:40px;
    height: 40px;
    display: inline;
}

#blogs ul {
    text-align: right;
}
#blogs li {
    list-style: none;
    display: inline;
}

.heading {
    margin-top: 30px;
    font-family: Dosis;
    text-align: center;
    color: whitesmoke;
    font-size: 38px;
}


.content{
    text-align: justify;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    font-family: Dosis;
    font-size: 25px;
    color: whitesmoke;
    word-spacing: 1px;
} 

.boxes{
    margin: 10px;
    padding: 10px;
}

.box{
    padding: 20px;
    text-align: center;
    background-color: mediumseagreen;
    width: 20.9%;
    margin-right: 1%;
    margin-top: 30px;
    display: inline-block;
}

.box:nth-child(4){
    margin-right: 0;
}

.box i {
    color: whitesmoke;
    font-size: 90px;
}

.box h1{
    font-family: Dosis;
    color: whitesmoke;
}
.box p {
    font-family: Dosis;
    font-size: 20px;
    color: whitesmoke;
}

#note{
    font-family: Dosis;
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    margin:20px 0 20px 0; 
}
/*tablets ipad-mini level*/
@media screen and (max-width:768px){
    #slider-info{
        font-size:15px;
        padding-top: 20px;
    }

    .service .service-info p{
        margin-top: 1px;
    }
    .box {
        width: 43.095%;
    }

    #info p {
        font-size: 30px;
        word-spacing: 0.5px;
    }
    #info i {
        font-size: 30px;
    }
    .content{
        font-size: 20px;
    }
    .heading {
        font-size: 28px;
    }
     #timing p {
        font-size: 30px;
    }

    #timing i {
        font-size: 30px;
    }
}

/*tablets Google-Nexus Level*/
@media screen and (max-width: 603px){
    .box{
        width: 41.285%;
    }
    .content{
        font-size: 20px;
    }
    .heading {
        font-size: 28px;
    }
    #slider-info{
        padding-top:8px;
    }
    #info p {
        font-size: 25px;
        word-spacing: 0.3px;
    }
    #info i {
        font-size: 25px;
    }
    #timing p {
        font-size: 30px;
    }

    #timing i {
        font-size: 30px;
    }
}

/*Mobile Phone I-phone5 Level*/

@media screen and (max-width:320px){
    #slider{
        width:100%;
    }
    #slider figure img {
        height: 35%;
    }
    #slider-info{
        font-size: 10px;
        font-weight: bold;
    }
    #logo-wrapper{
        width: 100%;
        float: none;
        text-align: center;
        margin: 5px 0px 0px 0px;
    }
    #nav-wrapper{
        width: 100%;
        float:none;
    }

    #nav-wrapper ul{
        text-align: center;
        margin-top: 5px;
        padding-left: 0px;
    }

    #nav-wrapper li{
        list-style-type: none;
        display:inline;
        padding: 10px;
        margin-left: 0px;
    }
    #navigation{
        height: 120px;
    }
    .service{
        width: 96%;
    }
    .service:nth-child(4){
        margin-left:1%;
    }
    #services-wrapper{
        height: 1580px;
    }
    #timing p {
        font-size: 17px;
    }
    
    #timing i {
        font-size: 17px;
    }

    #info-header {
        font-size: 30px;
        margin:40px 10px 10px 10px;
    }

    #info{
        line-height: 30px;
        word-spacing: 3px;
    }

    #info i {
        font-size: 20px;
    }
    #info p {
        font-size: 20px;
    }
    #footer{
        height: 120px;
        text-align: center
    }
    #blogs {
        position: relative;
        top:0px;
        right: 0px;
    }
    #blogs ul{
        padding-left: 0px;
        text-align: center;
    }
    .heading {
        font-size: 20px;
    }
    .content {
        font-size: 17px;
    }
    .boxes{
        margin: 0;
        padding: 0;
    }
    .box{
        width: 86.9%;
        margin-right: 0;
        margin-top: 10px;
    }
    .box i {
        font-size: 60px;
    }

    .box p {
        font-size: 15px;
    }
    #note{
        font-size: 20px;
        margin:20px 0 0 0; 
    }
} 